/* General Reset */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9fb;
    color: #333;
}





/* Responsive Adjustments */
@media (max-width: 768px) {
    .book-list {
        grid-template-columns: 1fr;
        padding: 10px;
    }

}

